:root{
    --a:#C4E7D4;
    --b:#C4DACF;
    --c:#B9C0DA;
    --d:#998DA0;
    --e:#63585E;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--b);
    color: var(--e);
    font-family: monospace;
    font-size: 24px;
}

.container {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.typing {
    border-right: 3px solid var(--d);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes blink {
    50% { border-color: transparent; }
}